@use "../../assets/scss/styles" as *;

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;

  button {
    flex: 1 1;
    min-width: max-content;
    @include glass;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    color: #0000009d;
    font-weight: 600;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
