header {
  background-color: #fdfdfd;
  padding: 20px;
  box-shadow: 0 0 10px black;
  z-index: 1000;
  font-family: "co-headline", sans-serif;
  font-size: 20px;
  margin-bottom: -10px;
  border-radius: 0 0 10px 10px;
}
