@use "../../../assets/scss/styles" as *;

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  .fetch-error {
    @include glass;
    font-weight: 700;
    background-color: #d66a0442;
    color: #d66a04;
  }
  p {
    padding: 10px;
    text-align: center;
    font-weight: 500;
  }
  .options {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 0;
    }
  }
  .check-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    label {
      user-select: none;
      font-weight: 700;
      cursor: pointer;
    }
    input {
      cursor: pointer;
      margin: 0 10px;
    }
  }
  .field-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    .error {
      font-weight: 600;
      font-size: 12px;
      right: 0;
      bottom: -16px;
      position: absolute;
      width: max-content;
    }
    label {
      font-weight: 700;
      padding-bottom: 5px;
    }
    input {
      background-origin: padding-box;
      font-family: Raleway, sans-serif;
      font-weight: bold;
      padding: 10px;
      color: rgba(0, 0, 0, 0.616);
      font-size: 20px;
      background-color: transparent;
      border: none;
      border-bottom: 2px solid rgba(68, 68, 68, 0.295);
      width: 100%;
      height: 100%;
      border-radius: 6px;
      &::placeholder {
        font-weight: 400;
      }
      &:focus-visible {
        outline: none;
        background-color: rgba(255, 255, 255, 0.589);
      }
    }
  }
  button {
    cursor: pointer;
    @include glass;
    border: none;
    padding: 10px;
    color: rgba(0, 0, 0, 0.616);
    font-size: 20px;
    &:hover {
      opacity: 0.8;
    }
  }
}
